- @page_title = "ステータス一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "CLV", params_name: "clv_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "一揆", params_name: "ikki_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "守護者", params_name: "world_form", colspan: 3, 
                    checkboxes: [{label: "熱血ガリバーヴォルク", params_name: "guardian_hot", class_name: "after_space mobile_br"},
                                 {label: "女神ラヴナオリティス", params_name: "guardian_goddes", br: true},
                                 {label: "幸星メディルサーカス", params_name: "guardian_lucky", class_name: "after_space mobile_br"},
                                 {label: "隠者マルクスバレッジ", params_name: "guardian_hermit", br: true},
                                 {label: "英雄オリフェンドール", params_name: "guardian_hero", class_name: "after_space mobile_br"},
                                 {label: "魔王エリエスヴィエラ", params_name: "guardian_satan", br: true},
                                 {label: "聖人サンセットジーン", params_name: "guardian_saint"}])
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "MHP", params_name: "mhp_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "MSP", params_name: "msp_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "PSP", params_name: "psp_form", placeholder: "Number", colspan: 3)
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "STR", params_name: "str_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "INT", params_name: "int_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "VIT", params_name: "vit_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "MND", params_name: "mnd_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "TEC", params_name: "tec_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "AGI", params_name: "agi_form", placeholder: "Number")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "CP", params_name: "cp_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "PS", params_name: "ps_form", placeholder: "Number")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "賞金", params_name: "prize_form", placeholder: "Number", colspan: 3)
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@statuses)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th.sep= sort_link(@search, :clv, "CLV", default_order: :desc)
      %th= sort_link(@search, :ikki, "一揆", default_order: :desc)
      %th= sort_link(@search, :guardian_id, "守護", default_order: :desc)
      %th.sep= sort_link(@search, :mhp, "MHP", default_order: :desc)
      %th= sort_link(@search, :msp, "MSP", default_order: :desc)
      %th= sort_link(@search, :psp, "PSP", default_order: :desc)
      %th.sep= sort_link(@search, :str, "STR", default_order: :desc)
      %th= sort_link(@search, :vit, "VIT", default_order: :desc)
      %th= sort_link(@search, :tec, "TEC", default_order: :desc)
      %th= sort_link(@search, :int, "INT", default_order: :desc)
      %th= sort_link(@search, :mnd, "MND", default_order: :desc)
      %th= sort_link(@search, :agi, "AGI", default_order: :desc)
      %th.sep= sort_link(@search, :cp, "CP", default_order: :desc)
      %th= sort_link(@search, :ps, "PS", default_order: :desc)
      %th.sep= sort_link(@search, :prize_prize, "賞金", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @statuses.each do |status|
      %tr
        %td= status.result_no
        %td= pc_name_text(status.e_no, status.pc_name)
        %td.sep= status.clv
        %td= status.ikki
        %td= status.guardian.name if status.guardian
        %td.sep= status.mhp
        %td= status.msp
        %td= status.psp
        %td.sep= status.str
        %td= status.vit
        %td= status.tec
        %td= status.int
        %td= status.mnd
        %td= status.agi
        %td.sep= status.cp
        %td= status.ps
        %td.sep= status.prize.prize if status.prize
        %td.sep= character_link(status.e_no)
        %td= character_old_link(@latest_result, status.e_no, status.result_no, status.generate_no)
= paginate(@statuses)
