- @page_title = "対人戦勝敗一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "戦闘の種類", params_name: "battle_type_form", colspan: 3, 
                    checkboxes: [{label: "練習試合", params_name: "is_game", class_name: "after_space", br: true},
                                 {label: "デュエル", params_name: "is_duel"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "勝敗", params_name: "battle_result_form", colspan: 3, 
                    checkboxes: [{label: "左PTが勝利", params_name: "result_win", class_name: "after_space"},
                                 {label: "引分", params_name: "result_draw", class_name: "after_space"},
                                 {label: "右PTが勝利", params_name: "result_lose"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_member_num",
                    label: {open: "人数を表示する", close: "人数を表示しない"},
                    act_desc: "左PT人数、右PT人数", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "左PT人数", params_name: "left_member_num_form",       placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "右PT人数", params_name: "right_member_num_form",       placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_party_name",
                    label: {open: "パーティ名を表示する", close: "パーティ名を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "PT名", params_name: "party_name_form", colspan: 3)

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@duel_results)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :battle_result_battle_result,"勝敗", default_order: :desc)
      - if @form_params["show_member_num"] == "1"
        %th.sep= sort_link(@search, :left_party_info_member_num,"PT人数", default_order: :desc)
      - if @form_params["show_party_name"] == "1"
        %th= sort_link(@search, :left_party_info_name, "PT名", default_order: :desc)
      %th= sort_link(@search, :left_party_no, "キャラクター(Eno)", default_order: :desc)
      %th
      %th= sort_link(@search, :right_party_no, "キャラクター(Eno)", default_order: :desc)
      - if @form_params["show_party_name"] == "1"
        %th= sort_link(@search, :right_party_info_name, "PT名", default_order: :desc)
      - if @form_params["show_member_num"] == "1"
        %th.sep= sort_link(@search, :right_party_info_member_num,"PT人数", default_order: :desc)
      %th= sort_link(@search, :battle_result_battle_result,"勝敗", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @duel_results.each do |duel_result|
      %tr
        %td= duel_result.result_no
        %td.sep
          = "勝利" if duel_result.battle_result == 1
          = "　引分" if duel_result.battle_result == 0
        - if @form_params["show_member_num"] == "1"
          %td.sep= duel_result.left_party_info.member_num if duel_result.left_party_info
        - if @form_params["show_party_name"] == "1"
          %td= duel_result.left_party_info.name if duel_result.left_party_info
        %td
          - party_members_pc_name_text(duel_result.left_party_info.party_members) if duel_result.left_party_info
        %td
          VS
        %td
          - party_members_pc_name_text(duel_result.right_party_info.party_members) if duel_result.right_party_info
        - if @form_params["show_party_name"] == "1"
          %td= duel_result.right_party_info.name if duel_result.right_party_info
        - if @form_params["show_member_num"] == "1"
          %td.sep= duel_result.right_party_info.member_num if duel_result.right_party_info
        %td.sep
          = "　勝利" if duel_result.battle_result == -1
          = "引分" if duel_result.battle_result == 0
        %td.sep= character_link(duel_result.left_party_no)
        %td= character_old_link(@latest_result, duel_result.left_party_no, duel_result.result_no, duel_result.generate_no)
= paginate(@duel_results)
