- @page_title = "PK襲撃種別一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,  label: "襲撃タイプ", params_name: "assault_type_form", colspan: 3,
                    checkboxes: [{label: "PK", params_name: "assault_1", class_name: "after_space"},
                                 {label: "PKvsPK(襲撃)", params_name: "assault_2", class_name: "after_space mobile_br"},
                                 {label: "被PKK", params_name: "assault_3", class_name: "after_space"},
                                 {label: "PKvsPK(被襲撃)", params_name: "assault_4", class_name: "after_space", br: true},
                                 {label: "PKK", params_name: "assault_5", class_name: "after_space"},
                                 {label: "被PK", params_name: "assault_6"}])
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@assaults)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th= sort_link(@search, :assault_type, "Assault type", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @assaults.each do |assault|
      %tr
        %td= assault.result_no
        %td= pc_name_text(assault.e_no, assault.pc_name)
        %td= assault_text(assault.assault_type)
        %td.sep= character_link(assault.e_no)
        %td= character_old_link(@latest_result, assault.e_no, assault.result_no, assault.generate_no)
= paginate(@assaults)
