%h1 IkkiFantasyデータ小屋
%p
  このサイトでは過去に運営されていた定期更新ゲーム
  %a{href: "http://lisge.com/", target: "_blank"} Ikki Fantasy
  %span{style: "font-size:small;"}
    (本家サイト消滅によりリンク先は製作者様サイト)
  を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
            %li= link_to "キャラクター名・PL名一覧", names_path
            %br
            %li= link_to "現在地一覧", current_areas_path
            %ul
              %li= link_to "エリア進行度別 人数一覧", current_area_totals_path
            %li= link_to "パーティ情報一覧", party_infos_path
            %br
            %li= link_to "ステータス一覧", statuses_path
            %li= link_to "生産Lv一覧", productions_path
            %li= link_to "所持エンブリオ・スキル一覧", skills_path
            %ul
              %li= link_to "エンブリオのみ表示", skills_path + "?base_first=1&show_skill=0&is_form=1"
            %li= link_to "所持アイテム一覧", items_path
            %ul
              %li= link_to "初期装備一覧", init_equips_path
      .col-md-6
        %ul
          %li 行動データ
          %ul
      .col-md-6
        %ul
          %li 戦闘データ
          %ul
            %li= link_to "次回予告NPC戦一覧", next_battle_infos_path
            %li= link_to "次回予告対人戦一覧", next_duel_infos_path
            %li= link_to "NPC戦勝敗一覧", battle_results_path
            %li= link_to "対人戦戦勝敗一覧", duel_results_path
      .col-md-6
        %ul
          %li 新出データ
          %ul  
            %li= link_to "新出材料一覧", new_items_path
            %li= link_to "新出装備付加一覧", new_item_fukas_path
            %li= link_to "新出エンブリオ一覧", new_embryos_path
            %li= link_to "新出スキル一覧", new_skills_path
            %li= link_to "新出予告NPC一覧", new_next_enemies_path
            %ul
              %li= link_to "新出予告ボス一覧", new_next_enemies_path + "?base_first=1&is_boss=on"
            %li= link_to "初戦闘NPC一覧", new_battle_enemies_path
            %ul
              %li= link_to "初戦闘ボス一覧", new_battle_enemies_path + "?base_first=1&is_boss=on"
            %li= link_to "ボス初突破一覧", new_defeat_enemies_path
      .col-md-6
        %ul
          %li その他データ
          %ul  
            %li= link_to "エンブリオ・スキル情報一覧", skill_data_path
            %ul
              %li= link_to "エンブリオのみ表示", skill_data_path + "?&base_first=1&show_skill=0&is_form=1"

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
