%h1 IkkiFantasyデータ小屋
%p
  このサイトでは過去に運営されていた定期更新ゲーム
  %a{href: "http://lisge.com/", target: "_blank"} Ikki Fantasy
  %span{style: "font-size:small;"}
    (本家サイト消滅によりリンク先は製作者様サイト)
  を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
            %li= link_to "キャラクター名・PL名一覧", names_path
            %li= link_to "ステータス一覧", statuses_path
            %li= link_to "生産Lv一覧", productions_path
            %li= link_to "所持エンブリオ・スキル一覧", skills_path
            %ul
              %li= link_to "エンブリオのみ表示", skills_path + "?&base_first=1&show_skill=0&is_form=1"
      .col-md-6
        %ul
          %li 戦闘データ
      .col-md-6
        %ul
          %li その他データ
          %ul  
            %li= link_to "エンブリオ・スキル情報一覧", skill_data_path
            %ul
              %li= link_to "エンブリオのみ表示", skill_data_path + "?&base_first=1&show_skill=0&is_form=1"

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
