- @page_title = "エリア進行度別 人数一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search, url:current_area_totals_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,  label: "地形", params_name: "level_form", colspan: 3,
                    checkboxes: [{label: "平原", params_name: "level_1", class_name: "after_space"},
                                 {label: "水辺", params_name: "level_2", class_name: "after_space"},
                                 {label: "砂地", params_name: "level_3", class_name: "after_space mobile_br"},
                                 {label: "城内", params_name: "level_4", class_name: "after_space"},
                                 {label: "森林", params_name: "level_5", class_name: "after_space"},
                                 {label: "山岳", params_name: "level_6"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "エリア", params_name: "name_form", placeholder: "Area", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "好戦度", params_name: "bellicosity_form", placeholder: "Number", colspan: 3)
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :area_level, "地形", default_order: :desc)
      %th= sort_link(@search, :area_id, "エリア", default_order: :desc)
      %th= 1
      %th= 2
      %th= 3
      %th= 4
      %th= 5
      %th= 6
      %th= 7
      %th= 8
      %th= 9
      %th= 10
  %tbody
    - @areas.each do |area|
      %tr
        %td= area_level_text(area.area) if area.area
        %td= area.area.name if area.area
        %td= area_total_link(area.result_no, area.area, 1, @current_areas) 
        %td= area_total_link(area.result_no, area.area, 2, @current_areas)
        %td= area_total_link(area.result_no, area.area, 3, @current_areas)
        %td= area_total_link(area.result_no, area.area, 4, @current_areas)
        %td= area_total_link(area.result_no, area.area, 5, @current_areas)
        %td= area_total_link(area.result_no, area.area, 6, @current_areas)
        %td= area_total_link(area.result_no, area.area, 7, @current_areas)
        %td= area_total_link(area.result_no, area.area, 8, @current_areas)
        %td= area_total_link(area.result_no, area.area, 9, @current_areas)
        %td= area_total_link(area.result_no, area.area, 10, @current_areas)

