- @page_title = "所持アイテム一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "アイテム名", params_name: "name_form", placeholder: "Item")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "種類", params_name: "kind_form", placeholder: "ItemKind")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "強さ", params_name: "strength_form", colspan: 3)
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "付加名", params_name: "effect_form", placeholder: "Fuka", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_fuka",
                    label: {open: "付加枠ごとに付加を検索する", close: "付加枠ごとの検索フォームを表示しない"}, base_first: false)
    %tbody.closed
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "付加1", params_name: "effect_1_form", placeholder: "Fuka")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "効果値", params_name: "effect_1_value_form", placeholder: "Number")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "付加2", params_name: "effect_2_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "効果値", params_name: "effect_2_value_form")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "付加3", params_name: "effect_3_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "効果値", params_name: "effect_3_value_form")

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@items)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th.sep= sort_link(@search, :i_no, "No", default_order: :desc)
      %th= sort_link(@search, :name, "アイテム名", default_order: :desc)
      %th= sort_link(@search, :kind_id, "種類", default_order: :desc)
      %th= sort_link(@search, :strength, "強さ", default_order: :desc)
      %th.sep= sort_link(@search, :effect_1_id, "効果1or武器", default_order: :desc)
      %th= sort_link(@search, :effect_1_value, "効果値", default_order: :desc)
      %th.sep= sort_link(@search, :effect_2_id, "効果2or防具", default_order: :desc)
      %th= sort_link(@search, :effect_2_value, "効果値", default_order: :desc)
      %th.sep= sort_link(@search, :effect_3_id, "効果3or装飾", default_order: :desc)
      %th= sort_link(@search, :effect_3_value, "効果値", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @items.each do |item|
      %tr
        %td= item.result_no
        %td= pc_name_text(item.e_no, item.pc_name)
        %td.sep= item.i_no
        %td= item.name
        %td= item.kind.name if item.kind
        %td= item.strength
        %td.sep{colspan: 2}
          = item.effect_1.name if item.effect_1
          = item.effect_1_value if item.effect_1_value > 0
        %td.sep{colspan: 2}
          = item.effect_2.name if item.effect_2
          = item.effect_2_value if item.effect_2_value > 0
        %td.sep{colspan: 2}
          = item.effect_3.name if item.effect_3
          = item.effect_3_value if item.effect_3_value > 0
        %td= character_link(item.e_no)
        %td.sep= character_old_link(@latest_result, item.e_no, item.result_no, item.generate_no)
= paginate(@items)
