- @page_title = "次回予告対人戦一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "戦闘の種類", params_name: "battle_type_form", colspan: 3, 
                    checkboxes: [{label: "練習試合", params_name: "is_game", class_name: "after_space", br: true},
                                 {label: "デュエル", params_name: "is_duel"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_current_area",
                    label: {open: "現在地を表示する", close: "現在地を表示しない"},
                    act_desc: "地形、エリア、進攻度、好戦度", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,  label: "地形", params_name: "level_form", colspan: 3,
                    checkboxes: [{label: "平原", params_name: "level_1", class_name: "after_space"},
                                 {label: "水辺", params_name: "level_2", class_name: "after_space"},
                                 {label: "砂地", params_name: "level_3", class_name: "after_space mobile_br"},
                                 {label: "城内", params_name: "level_4", class_name: "after_space"},
                                 {label: "森林", params_name: "level_5", class_name: "after_space"},
                                 {label: "山岳", params_name: "level_6"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "エリア", params_name: "name_form", placeholder: "Area", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_member_num",
                    label: {open: "人数を表示する", close: "人数を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "左PT人数", params_name: "left_member_num_form",       placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "右PT人数", params_name: "right_member_num_form",       placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_party_name",
                    label: {open: "パーティ名を表示する", close: "パーティ名を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "PT名", params_name: "party_name_form", colspan: 3)

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@next_duel_infos)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      - if @form_params["show_current_area"] == "1"
        %th.sep= sort_link(@search, :current_area_area_level, "地形", default_order: :desc)
        %th.r_sep= sort_link(@search, :current_area_area_id, "エリア", default_order: :desc)
      - if @form_params["show_member_num"] == "1"
        %th.sep= sort_link(@search, :left_party_info_member_num,"PT人数", default_order: :desc)
      - if @form_params["show_party_name"] == "1"
        %th= sort_link(@search, :left_party_info_name, "PT名", default_order: :desc)
      %th= sort_link(@search, :left_party_no, "キャラクター(Eno)", default_order: :desc)
      %th
      %th= sort_link(@search, :right_party_no, "キャラクター(Eno)", default_order: :desc)
      - if @form_params["show_party_name"] == "1"
        %th= sort_link(@search, :right_party_info_name, "PT名", default_order: :desc)
      - if @form_params["show_member_num"] == "1"
        %th.sep= sort_link(@search, :right_party_info_member_num,"PT人数", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @next_duel_infos.each do |next_duel_info|
      %tr
        %td= next_duel_info.result_no
        - if @form_params["show_current_area"] == "1"
          %td.sep= area_level_text(next_duel_info.current_area.area) if next_duel_info.current_area && next_duel_info.current_area.area
          %td.r_sep= next_duel_info.current_area.area.name if next_duel_info.current_area && next_duel_info.current_area.area
        - if @form_params["show_member_num"] == "1"
          %td.sep= next_duel_info.left_party_info.member_num if next_duel_info.left_party_info
        - if @form_params["show_party_name"] == "1"
          %td= next_duel_info.left_party_info.name if next_duel_info.left_party_info
        %td.text-nowrap
          - party_members_pc_name_text(next_duel_info.left_party_info.party_members) if next_duel_info.left_party_info
        %td.text-nowrap
          VS
        %td
          - party_members_pc_name_text(next_duel_info.right_party_info.party_members) if next_duel_info.right_party_info
        - if @form_params["show_party_name"] == "1"
          %td= next_duel_info.right_party_info.name if next_duel_info.right_party_info
        - if @form_params["show_member_num"] == "1"
          %td.sep= next_duel_info.right_party_info.member_num if next_duel_info.right_party_info
        %td.sep= character_link(next_duel_info.left_party_no)
        %td= character_old_link(@latest_result, next_duel_info.left_party_no, next_duel_info.result_no, next_duel_info.generate_no)
= paginate(@next_duel_infos)
