!!! s
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag('favicon.ico')

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light.navbar-custom.p-0
      .container
        = link_to "IkkiFantasyデータ小屋", root_path, :class => "navbar-brand"
        %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarResponsive"}, area: {controls: "navbarResponsive", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                個人データ
                %span.caret
              .dropdown-menu
                = link_to "キャラクター名・PL名一覧", names_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "現在地一覧", current_areas_path, class: "dropdown-item"
                = link_to ">　エリア進行度別 人数一覧", current_area_totals_path, class: "dropdown-item"
                = link_to "パーティ情報一覧", party_infos_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "ステータス一覧", statuses_path, class: "dropdown-item"
                = link_to "生産Lv一覧", productions_path, class: "dropdown-item"
                = link_to "所持エンブリオ・スキル一覧", skills_path, class: "dropdown-item"
                = link_to ">　エンブリオのみ表示", skills_path + "?base_first=1&show_skill=0&is_form=1", class: "dropdown-item"
                = link_to "所持アイテム一覧", items_path, class: "dropdown-item"
                = link_to ">　初期装備一覧", init_equips_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                戦闘データ
                %span.caret
              .dropdown-menu
                = link_to "次回予告NPC戦一覧", next_battle_infos_path, class: "dropdown-item"
                = link_to "次回予告対人戦一覧", next_duel_infos_path, class: "dropdown-item"
                = link_to "NPC戦勝敗一覧", battle_results_path, class: "dropdown-item"
                = link_to "対人戦戦勝敗一覧", duel_results_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                PKデータ
                %span.caret
              .dropdown-menu
                = link_to "PK一覧", pk_data_path, class: "dropdown-item"
                = link_to ">　PK・PKK活動履歴一覧", pk_histories_path, class: "dropdown-item"
                = link_to "次回予告デュエル一覧", next_duel_infos_path + "?is_duel=on&show_assault=1", class: "dropdown-item"
                = link_to "デュエル勝敗一覧", duel_results_path + "?is_duel=on&show_assault=1", class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                新出データ
                %span.caret
              .dropdown-menu
                = link_to "新出材料一覧", new_items_path, class: "dropdown-item"
                = link_to "新出装備付加一覧", new_item_fukas_path, class: "dropdown-item"
                = link_to "新出エンブリオ一覧", new_embryos_path, class: "dropdown-item"
                = link_to "新出スキル一覧", new_skills_path, class: "dropdown-item"
                = link_to "新出予告NPC一覧", new_next_enemies_path, class: "dropdown-item"
                = link_to "初戦闘NPC一覧", new_battle_enemies_path, class: "dropdown-item"
                = link_to ">　初戦闘ボス一覧", new_battle_enemies_path + "?base_first=1&show_skill=0&is_boss=on", class: "dropdown-item"
                = link_to "ボス初突破一覧", new_defeat_enemies_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                その他データ
                %span.caret
              .dropdown-menu
                = link_to "エンブリオ・スキル情報一覧", skill_data_path, class: "dropdown-item"
                = link_to ">　エンブリオのみ表示", skill_data_path + "base_first=1&show_skill=0&is_form=1", class: "dropdown-item"
                = link_to "ボス一覧", bosses_path, class: "dropdown-item"

    .container
      .row
        .col-md-12
          = yield
      
      %footer
        %p
          Twitter：#{link_to "@data_teiki", "http://twitter.com/data_teiki"}
          %br
          制作：#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/ikki_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/ikki_rails"}]
          %br
          #{link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"}
      = render "layouts/analytics"
